---
import BaseApp from '../components/BaseApp/BaseApp.astro';
import HeaderBar from '../components/HeaderBar/HeaderBar.astro'

let title = 'H4CKER.FM';
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{title}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/style/global.css">
        <link rel="stylesheet" href="/style/home.css">
    </head>
<body>
    <div class="crt-overlay-effect"/>
    
    <section class='loading-background'>
       <pre class='terminal-text'></pre> 
    </section>

    <main class='desktop-screen hide'>
        <HeaderBar />
        <BaseApp appName='H4CKER.FM RADIO'/>
        <div class='background-80s animated-clouds stars'> 
            <div class="grid"/> 
        </div>
    </main>
</body>
</html>


<script>

window.HAS_INTERACTED = false

const WINDOW_WIDTH = window.innerWidth;

const text = 
`
Initialising boot sequence...

Installing outrun.exe

Done!

::::::::::::::::::::::::::::::::::  

${WINDOW_WIDTH < 600 ? '【 ＷＥＬＣＣＯＭＥ　ＴＯ　ＨＡＣＫＥＲ．ＦＭ 】' : 
`
██   ██  █████   ██████ ██   ██ ███████ ██████     ███████ ███    ███ 
██   ██ ██   ██ ██      ██  ██  ██      ██   ██    ██      ████  ████ 
███████ ███████ ██      █████   █████   ██████     █████   ██ ████ ██ 
██   ██ ██   ██ ██      ██  ██  ██      ██   ██    ██      ██  ██  ██ 
██   ██ ██   ██  ██████ ██   ██ ███████ ██   ██ ██ ██      ██      ██ 
`}

::::::::::::::::::::::::::::::::::


Press any key to continue...

`

const loaderScreen = document.querySelector('.loading-background');
const desktopScreen = document.querySelector('.desktop-screen');

function closeLoaderScreen() {
    loaderScreen.classList.add('hide');
    desktopScreen.classList.remove('hide');
}


loaderScreen.addEventListener('click', () => {
    window.HAS_INTERACTED = true
    closeLoaderScreen() 
});


document.addEventListener('keydown', (e) => {
    window.HAS_INTERACTED = true
   closeLoaderScreen() 
});


let last = 0 // number since the last RAF ran
let countDownNumber = 3
/**
 * Auto countdown to close loader screen
 */
const countDown = (now)=>{
    if(countDownNumber !== 0){
        // This throttles the countdown to decrement every second...
        // https://stackoverflow.com/a/29744322
        if(!last || now - last >= 2*1000) {
            last = now;
            countDownNumber--
            terminalText.textContent = text + `Automatically entering in (${countDownNumber})`
        }
        window.requestAnimationFrame(countDown);
        } else {
            closeLoaderScreen() 
        }
}

const terminalText = document.querySelector('.terminal-text');
const CHARS_PER_STROKE = 10; // how quick the text will 'type' on the screen
const START_INDEX = 0; 
let endIndex = 0; 

/**
 * Auto type text on the screen by incrementing the endIndex to display more text on screen to create a typewriter effect
 */
const updateScreen = () => {
   
    endIndex += CHARS_PER_STROKE;
    terminalText.textContent = text.substring(START_INDEX, endIndex);
    
    if (endIndex <= text.length) {
        window.requestAnimationFrame(updateScreen);
    }else{
        // initiate the countdown once all text is on the screen
        window.requestAnimationFrame(countDown);
    }
};
updateScreen()

</script>

