---
import BaseApp from '../components/BaseApp/BaseApp.astro';

let title = 'H4CKER.FM';
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{title}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/style/global.css">
        <link rel="stylesheet" href="/style/home.css">
    </head>
<body>
    <div class="crt-overlay-effect"/>
    
    <section class='loading-background'></section>


    <main class='desktop-screen hide'>
      <BaseApp appName='app1'/>
        <div class='background-80s animated-clouds stars'/> 
        <div class="grid"/>
    </main>
</body>
</html>


<script>

const text = 
`
Initialising boot sequence...
Installing cyberspace.exe...


██╗__██╗██╗__██╗_██████╗██╗__██╗███████╗██████╗____███████╗███╗___███╗
██║__██║██║__██║██╔════╝██║_██╔╝██╔════╝██╔══██╗___██╔════╝████╗_████║
███████║███████║██║_____█████╔╝_█████╗__██████╔╝___█████╗__██╔████╔██║
██╔══██║╚════██║██║_____██╔═██╗_██╔══╝__██╔══██╗___██╔══╝__██║╚██╔╝██║
██║__██║_____██║╚██████╗██║__██╗███████╗██║__██║██╗██║_____██║_╚═╝_██║
╚═╝__╚═╝_____╚═╝_╚═════╝╚═╝__╚═╝╚══════╝╚═╝__╚═╝╚═╝╚═╝_____╚═╝_____╚═╝
                                             
                                             Press any key to continue...
`

const loaderScreen = document.querySelector('.loading-background');
const desktopScreen = document.querySelector('.desktop-screen');

loaderScreen.addEventListener('click', () => {
    console.log('clicked');
    loaderScreen.classList.add('hide');
    desktopScreen.classList.remove('hide');
});


document.addEventListener('keydown', (e) => {
    loaderScreen.classList.add('hide');
    desktopScreen.classList.remove('hide');
});

const CHARS_PER_STROKE = 5;
var startIndex = 0;
var endIndex = 0;

const updateScreen = (e) => {
    endIndex += CHARS_PER_STROKE;
    loaderScreen.textContent = text.substring(startIndex, endIndex);
    window.requestAnimationFrame(updateScreen);
};
updateScreen()
</script>

