---
import BaseApp from '../components/BaseApp/BaseApp.astro';
import HeaderBar from '../components/HeaderBar/HeaderBar.astro'

let title = 'H4CKER.FM';
---
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>{title}</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link rel="stylesheet" href="/style/global.css">
        <link rel="stylesheet" href="/style/home.css">
    </head>
<body>
    <div class="crt-overlay-effect"/>
    
    <section class='loading-background'></section>

    <main class='desktop-screen hide'>
        <HeaderBar />
        <BaseApp appName='H4CKER.FM RADIO'/>
        <div class='background-80s animated-clouds stars'> 
            <div class="grid"/> 
        </div>
    </main>
</body>
</html>


<script>
const text = 
`
Initialising boot sequence...
Installing cyberspace.exe

::::::::::::::::::::::::::::::::::  

db   db   j88D   .o88b. 
88   88  j8~88  d8P  Y8 
88ooo88 j8' 88  8P      
88~~~88 V88888D 8b      
88   88     88  Y8b  d8 
YP   YP     VP   Y88P' 
                        
                        
db   dD d88888b d8888b. 
88 ,8P' 88'     88   8D 
88,8P   88ooooo 88oobY
88 8b   88~~~~~ 888 b   
88  88. 88.     88  88. 
YP   YD Y88888P 88   YD 
                        
                        
   d88888b .88b  d88.   
   88      88 YbdP 88   
   88ooo   88  88  88   
   88~~~   88  88  88   
88 88      88  88  88   
88 YP      YP  YP  YP   
                                             
::::::::::::::::::::::::::::::::::


Press any key to continue...
`

const loaderScreen = document.querySelector('.loading-background');
const desktopScreen = document.querySelector('.desktop-screen');

loaderScreen.addEventListener('click', () => {
    console.log('clicked');
    loaderScreen.classList.add('hide');
    desktopScreen.classList.remove('hide');
});


document.addEventListener('keydown', (e) => {
    loaderScreen.classList.add('hide');
    desktopScreen.classList.remove('hide');
});

const CHARS_PER_STROKE = 10;
var startIndex = 0;
var endIndex = 0;

const updateScreen = (e) => {
    endIndex += CHARS_PER_STROKE;
    loaderScreen.textContent = text.substring(startIndex, endIndex);
    window.requestAnimationFrame(updateScreen);
};
updateScreen()
</script>

