.audio-player {
  display: grid;
  grid-template-areas:
    "orb tracks"
    "controls controls";
}

.orb {
  grid-area: orb;
}

.tracks {
  grid-area: tracks;
  overflow-y: scroll;
  max-height: 300px;
}

.player-controls {
  grid-area: controls;
  display: flex;
  justify-content: space-evenly;
}
