---
import {AudioPlayer} from '../AudioPlayer/AudioPlayer.jsx'

export interface Props {
  appName: string;
}
const { appName } = Astro.props;

---

<div
  id='box'
  class="app-name"
  data-appName={appName}
>
<div class="top-bar">{appName}  </div>
  <AudioPlayer client:visible/>
</div>
<style>
  .top-bar{
    cursor: grab;
    background-color: gray;
    width: 100%;
  }

    .app-name{
      border: 1px solid #ccc;
      z-index: 9;
      position:absolute;
      background-color: green;
      height: 350px;
      width: 350px;

    } 

    .webgl {

      width: 100px;
      height: 100px;
    }

</style>



<script src={Astro.resolve('./myScript.js')} type="module"/>
